body {
    margin-left: 20rem;
}

#luke {
    height: 4rem;
    width: 4rem;
    border: 1px solid green;
    float:left;
    
}
#obiWan {
    height: 4rem;
    width: 4rem;
    border: 1px solid black;
    float:left;
}
#darthMaul {
    height: 4rem;
    width: 4rem;
    border: 1px solid black;
    float:left;
}
#darthVader {
    height: 4rem;
    width: 4rem;
    border: 1px solid green;
    float:left;
}
.characterSelection {
    height: 10rem;
    width: 20rem;
    border: 1px solid black;
}

.enemySelection {
    height: 10rem;
    width: 20rem;
    border: 1px solid black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.defenderSection {
    height: 10rem;
    width: 20rem;
    border: 1px solid black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#lukeEnemy {
    height: 4rem;
    width: 4rem;
    border: 1px solid red;
    float:left;
}

#darthVaderEnemy {
    height: 4rem;
    width: 4rem;
    border: 1px solid red;
    float:left;
}

#obiWanEnemy {
    height: 4rem;
    width: 4rem;
    border: 1px solid red;
    float:left;
}

#lukeDefender {
    height: 4rem;
    width: 4rem;
    border: 1px solid blue;
}

#darthVaderDefender {
    height: 4rem;
    width: 4rem;
    border: 1px solid blue;
}

#obiWanDefender {
    height: 4rem;
    width: 4rem;
    border: 1px solid blue;
}


.hidden {
    display:none;
}