

body {
    margin-left: 35rem;
    /*background-image: url("../assets/original.jpg");*/

    background:  url(../assets/space_loop.gif) no-repeat center center fixed; 
    background-size: cover;
}

header {
    font-size: 20px;
    margin-left: 18rem;
}

header, .fightSectionText{
    font-weight: bold;
    color:gold;
}

.blackBold {
    font-weight: bold;
    color: lightyellow;
}

#battleWin, #defeat {
    color:white;
    font-weight: bold;
}

#luke {
    height: 11rem;
    width: 11rem;
    border: 3px groove lightgreen;
    float:left;
    margin-left: 1rem;
    overflow: hidden;
    background-color: lightgray;
    
}
#obiWan {
    height: 11rem;
    width: 11rem;
    border: 3px groove lightgreen;
    float:left;
    margin-left: 1rem;
    overflow: hidden;
    background-color: lightgray;
}
#darthMaul {
    height: 11rem;
    width: 11rem;
    border: 3px groove lightgreen;
    float:left;
    margin-left: 1rem;
    overflow: hidden;
    background-color: lightgray;
}
#darthVader {
    height: 11rem;
    width: 11rem;
    border: 3px groove lightgreen;
    float:left;
    margin-left: 1rem;
    overflow: hidden;
    background-color: lightgray;
}
.characterSelection {
    height: 15rem;
    width: 50rem;
    border: 1px solid black;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    background-color: rgba(91, 91, 91, 0.486);
    
}

.enemySelection {
    height: 15rem;
    width: 50rem;
    border: 1px solid black;
    margin-top: 1rem;
    margin-bottom: 1rem;
  
    background-color: rgba(91, 91, 91, 0.486);
}

.defenderSection {
    height: 15rem;
    width: 50rem;
    border: 1px solid black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(91, 91, 91, 0.486);
    
}
#lukeEnemy {
    height: 11rem;
    width: 11rem;
    border: 3px groove yellow;
    float:left;
    margin-left: 1rem;
    overflow: hidden;
    background-color: lightgray;
    
}

#darthVaderEnemy {
    height: 11rem;
    width: 11rem;
    border: 3px groove yellow;
    float:left;
    margin-left: 1rem;
    overflow: hidden;
    background-color: lightgray;
}

#darthMaulEnemy {
    height: 11rem;
    width: 11rem;
    border: 3px groove yellow;
    float:left;
    margin-left: 1rem;
    overflow: hidden;
    background-color: lightgray;
}

#obiWanEnemy {
    height: 11rem;
    width: 11rem;
    border: 3px groove yellow;
    float:left;
    margin-left: 1rem;
    overflow: hidden;
    background-color: lightgray;
}

#lukeDefender {
    height: 11rem;
    width: 11rem;
    border: 3px groove red;
    float:left;
    margin-left: 1rem;
    overflow: hidden;
    background-color: lightgray;
}

#darthVaderDefender {
    height: 11rem;
    width: 11rem;
    border: 3px groove red;
    float:left;
    margin-left: 1rem;
    overflow: hidden;
    background-color: lightgray;
}

#obiWanDefender {
    height: 11rem;
    width: 11rem;
    border: 3px groove red;
    float:left;
    margin-left: 1rem;
    overflow: hidden;
    background-color: lightgray;
}

#darthMaulDefender {
    height: 11rem;
    width: 11rem;
    border: 3px groove red;
    float:left;
    margin-left: 1rem;
    overflow: hidden;
    background-color: lightgray;
}


.hidden {
    display:none;
}